@import '~office-ui-fabric-react/dist/sass/References.scss';



// Copy this to every web part for standard theme support
// VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV



// define variables first
//https://docs.microsoft.com/en-us/sharepoint/dev/spfx/use-theme-colors-in-your-customizations#available-theme-tokens-and-their-occurances
$themePrimary: '[theme:themePrimary, default:#0078d7]';
$themeWhite: '[theme:white, default:white]';

.fpsMainErrBlock {
  display: grid;
  justify-items: center;
  background: yellow;
  padding: 20px 20px 50px 20px;

  h2 {
    font-size: xx-large;
  }

  li {
    color: red;
    font-size: 20px;
    font-weight: 600;
  }
}

//https://docs.microsoft.com/en-us/sharepoint/dev/spfx/use-theme-colors-in-your-customizations#available-theme-tokens-and-their-occurances
$themePrimary: '[theme:themePrimary, default:#0078d7]';
// $themeWhite: '[theme:white, default:white]';

.fpsSiteThemeDark {
  background-color: $ms-color-themeDark;
  color: $ms-color-white;
}

.fpsSiteThemeLight {
  background-color: $ms-color-themeLight;
  color: $ms-color-themeDark;
}

.fpsSiteThemePrimary {
  background-color: $ms-color-themePrimary;
  color: $ms-color-white !important ;
}

// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
// Copy this to every web part for standard theme support


.fpsSlickSections {
  overflow: hidden;
  // padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }

  background: hsl(0deg 0% 100% / 76%);

  .settingsArea {
    background: hsl(0deg 0% 100% / 76%);
    color: black;
  }
  // padding: 2em;

  .sectionRow {
    display: flex;
    padding: .6em;
    justify-content: space-between;

  }

  .sectionButtons {
    display: flex;

  }

  .scrollMessage {
    transition:all 0.3s ease;
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: none;
    font-size: larger;
    font-weight: 600;
    color: default;
    padding: 5px 10px;
    background: hsl(0deg 0% 100% / 76%);
    border-radius: 10px;
  }

  .scrollHide {
    transition:all 0.6s ease;
    // opacity: 0;
    // height: 0px;
    // overflow: hidden !important;
    color: transparent !important;
    background: transparent !important;
    padding: 0px;
    width: 0px;
  }

  button {
    cursor: pointer;
    padding: 3px 10px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // max-width: 50px;
    // margin-right: 10px;
    // margin-top: 10px;

    text-decoration: none;
    text-align: center;

    // Primary Button
    // min-width: 50px;
    background-color: lightgray;
    border-color: lightgray;
    color: black;
  }

  button.isSelected {
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;
    font-weight: bolder;
  }

  .pillShape {
    border-radius: 50px;
  }

  button {
    // padding: 5px;
    margin: 5px;
    // background: darkblue;
    cursor: pointer;
  }


}

.slickSectionElements {
  display: inline-flex;
  justify-content: start;
  align-items: flex-start;
  justify-items: center;
  flex-wrap: wrap;
}

.sectionProps {
  margin: 0px 20px;
}

.baseSlickBackground {
  transition:all 0.3s ease;
  background-position: center center;
  // background-position: relative; // WHY THIS????
  background-repeat: no-repeat;
  background-size: cover;
}

.targetedSlickSection {
  transition:all 0.3s ease;
  // position: absolute;
}

.visibleSlickSection {
  transition:all 0.3s ease;
  opacity: 1 !important;
}

.hiddenSlickSection {
  transition:all 0.3s ease;
  opacity: 0 !important;
  overflow: hidden !important;
  // background: transparent;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  height: 0px !important;
  min-height: 0px !important;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}


[data-automation-id="webPartHeader"] [role="heading"] {
  color: null;
}

.forceWhiteText [data-automation-id="webPartHeader"]  {
  & [role="heading"] { color: white; }
  & span { color: white; }
}

// News webaprt
.forceWhiteText [data-automation-id="newsItem"] {
  & span { color: white; }
  & a { color: white; }
}

.forceWhiteText [data-automation-id="newsItemTitle"] {
  color: white;
}

.forceWhiteText [data-automation-id="newsItemDescription"] {
  color: white;
}

// Image Webpart
.forceWhiteText [data-automation-id="captionElement"] span {
  color: white;
}


.forceWhiteTextCmdButton [data-automation-id="visibleContent"] button {
  transition:all 0.3s ease;
  color: white !important;
  & i { color: white !important; }
  & span { background: transparent !important; }
}

.forceWhiteTextCmdButton [data-automation-id="visibleContent"] button:hover {
  transition:all 0.3s ease;
  background: rgba(255, 255, 255, .2);
}

.forceWhiteTextCmdButton [data-automation-id="CollapsibleLayer-Button"] {
  color: white !important;
}

// .forceWhiteTextCmdButton button span:hover {
//   transition:all 0.3s ease;
//   background: rgba(255, 255, 255, .2);
// }
// .forceWhiteText [data-automation-id="textBox"] p {
//   color: white;
// }

// .forceWhiteText [data-automation-id="textBox"] h2 {
//   color: white;
// }

// .forceWhiteText [data-automation-id="textBox"] h3 {
//   color: white;
// }

// .forceWhiteText [data-automation-id="textBox"] h4 {
//   color: white;
// }

// .forceWhiteText [data-automation-id="textBox"] a {
//   color: white;
// }


.forceWhiteText [data-automation-id="textBox"]{
  // https://css-tricks.com/the-sass-ampersand/
  & h2 { color: white; }
  & h3 { color: white; }
  & h4 { color: white; }
  & p { color: white; }
  & a { color: white; }
} 

.forceWhiteText [data-automation-id="quick-links-item-title"] {
  color: white;
}

.forceWhiteText [data-automation-id="tile-card"] {
  transition:all 0.3s ease;
  i { color: white !important ; }

  [ role=img ],:nth-child(2) { background: transparent; }

  [ role=img ]:hover,:nth-child(2):hover {
    background: rgba(255, 255, 255, .2);
  }

  // [data-automation-id="quick-links-item-title"] {
  //   color: black;
  // }
}

.forceWhiteText [data-automation-id="button-card"] {
  transition:all 0.3s ease;
  background: transparent;
  border-radius: 5px;
  [data-automation-id="quick-links-item-title"],i {
    color: white ;
  }
}

.forceWhiteText [data-automation-id="button-card"]:hover {
  transition:all 0.3s ease;
  background: rgba(255, 255, 255, .2);

}

.forceWhiteText [data-automation-id="grid-layout"] a:hover {
  transition:all 0.3s ease;
  background: rgba(255, 255, 255, .2);
}


// This targets collapsible headings and the collapse arrow
.forceWhiteText [data-automation-id="CollapsibleLayer-Button"] div {
  color: white;
}

.forceWhiteText [data-automation-id="embedContainer"] div {
  color: white;
}

.slickSectionCanvasBG {
  transition:all 0.3s ease;
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;

  .slickSectionCanvasBGImg {
    object-fit: contain;
    width: 100%;
    background: no-repeat;
  }
}
